{
  "port": "5010",
  "client": {
    "id": 10964957,
    "branch": "master",
    "path": "../../sandbox/client/public"
  },
  "pubsub-server": {
    "id": 12572422,
    "branch": "master",
    "name": "pubsub",
    "path": "../../sandbox/pubsub-server"
  },
  "media-server": {
    "id": 12572422,
    "name": "pubsub",
    "branch": "master",
    "path": "../../sandbox/media-server"
  }
}
